.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
}