.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 30px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.auth-btn {
  background: #ff4d4d;
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-link {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}
